body {
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
}

fieldset {
    display: inline-block;
    text-align: center;
    border: 5px solid black;
}

textarea {
    display: block;
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
    height: 400px;
    margin: auto;
    width: 90%;
}

#fields {
    display: flex;
    justify-content: center;
}

#heading {
    font-size: 32pt;
    text-align: center;
}

#footer a {
    float: right;
}

.cssValidator {
    clear: right;
}